@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Target the ScrollArea */
.scrollarea-class { /* Add a custom class if needed */
    height: 100vh;
  }
  
  /* Customize the scrollbar */
  .scrollarea-class::-webkit-scrollbar {
    width: 12px; /* Adjust width if needed */
  }
  
  .scrollarea-class::-webkit-scrollbar-thumb {
    background-color: red; /* Scroll thumb color */
    border-radius: 6px;
  }
  
  .scrollarea-class::-webkit-scrollbar-track {
    background: #f1f1f1; /* Scroll track color */
  }
  
